@import url('https://fonts.googleapis.com/css2?family=Candal&display=swap');

:root {
  --color-base: #f7f7f7;
  --color-background: #f2f2f2;
  --color-primary: #f36f38;
  --color-primary-contrast: #f7f7f7;
  --color-danger: #ee5253;
  --color-info: #54a0ff;
  --color-success: #1dd1a1;
  --color-warning: #feca57;
  --color-grey: #666;
  --font-family: 'Candal', sans-serif;
  --box-shadow: 
    3px 3px 6px 3px rgba(0, 0, 0, 0.1),
    -3px -3px 3px 3px rgba(247, 251, 255, 0.5);
  --box-shadow-inset:
    inset 0px -2px 5px rgb(255, 255, 255),
    inset 0px 2px 5px rgba(0, 0, 0, 0.15);
}

* {
  box-sizing: border-box;
  font-family: var(--font-family);
}

*:focus{
  outline: none;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-primary); 
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-primary); 
}

body {
  width: 100%;
  margin: 0;
  background-color: var(--color-background);
}

.container {
  display: grid;
  grid-template-columns: 200px 16px 1fr;
  padding: 16px;
}

#container-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#container-buttons button {
  width: 100%;
}

button {
  margin-bottom: 8px;
  padding: 8px;
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  color: var(--color-primary);
  font-size: 20px;
  cursor: pointer;
  border: none;
  background-color: var(--color-background);
}

button:active {
  box-shadow: var(--box-shadow-inset);
}

#container-collapses {
  grid-column-start: 3;
}

.collapse {
  width: 100%;
  margin-bottom: 8px;
  padding: 16px;
  border-radius: 8px;
  box-shadow: var(--box-shadow);
}

.collapse__header {
  position: relative;
  cursor: pointer;
  padding-bottom: 0;
  color: var(--color-primary);
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
}

.collapse__header::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  box-shadow: var(--box-shadow-inset);
}

.collapse__header.visible {
  padding-bottom: 16px;
}

.collapse__header.visible::before {
  height: 8px;
}

.collapse__container {
  overflow: hidden;
}

.collapse__container-item {
  display: none;
  padding: 8px;
  padding-top: 16px;
  color: var(--color-grey);
  font-size: 12px;
  text-align: center;
}

.collapse__container.visible .collapse__container-item {
  display: block;
}


@media (max-width: 600px) {
  
  .container {
    grid-template-rows: 1fr 0 1fr;
    grid-template-columns: 1fr;
  }

  #container-collapses {
    grid-column-start: 1;
  }

}